<div class="row">
	<div class="col-sm">
		<h2 id="welcome" class="text-center">
			{{ 'dataExportPage.pageHeader' | translate }}
		</h2>
	</div>
</div>

<br />
<br />

<div class="row">
	<div class="col-sm">
		<button class="btn btn-block btn-primary" ng-click="toLanding()">
			<i class="fas fa-arrow-left"></i> {{ 'general.back' | translate }}
		</button>
	</div>
</div>


<br />
<br />

<div class="row">
	<div class="col-sm">
		<button class="btn btn-block btn-primary btn-tall" ng-click="exportData()">
			{{ 'dataExportPage.getExcelFile' | translate }}
		</button>
	</div>
</div>