<div class="row">
	<div class="col-sm">
		<h2 id="welcome" class="text-center">
			{{ 'landingPage.pageHeader' | translate }}
		</h2>
	</div>
</div>

<br />
<br />

<div class="row">
	<div class="col-sm">
		<button class="btn btn-block btn-primary btn-tall btn-bottom-margin" ng-click="toPalletInsert()">
			{{ 'landingPage.insertPallet' | translate }}
		</button>
	</div>

	<div class="col-sm">
		<button class="btn btn-block btn-primary btn-tall btn-bottom-margin" ng-click="toPalletRemoval()">
			{{ 'landingPage.removePallet' | translate }}
		</button>
	</div>
</div>

<style>
	
</style>