<div class="row">
	<div class="col-sm">
		<h2 id="welcome" class="text-center">
			{{ 'palletRemovalPage.pageHeader' | translate }}
		</h2>
	</div>
</div>

<br />
<br />

<div class="row">
	<div class="col-sm">
		<button class="btn btn-block btn-primary" ng-click="toLanding()">
			<i class="fas fa-arrow-left"></i> {{ 'general.back' | translate }}
		</button>
	</div>
</div>


<br />
<br />

<div class="row">
	<div class="col-sm">
		<form>
			<div class="form-group">
		    	<h3 class="text-center">
		    		{{ 'palletRemovalPage.searchSlots' | translate }}
		    	</h3>

		    	<input ng-model="searchTerm" class="form-control" placeholder="{{ 'palletRemovalPage.productCodeOrName' | translate }}" />
		  	</div>

		  	<button type="submit" class="btn btn-primary btn-block btn-tall" ng-click="searchSlots()">
		  		{{ 'palletRemovalPage.searchSlots' | translate }}
		  	</button>

			<br />

		  	<div class="form-group">
		    	<h3 class="text-center">
		    		{{ 'palletRemovalPage.searchResults' | translate }}
		    	</h3>

		    	<br />

		    	<div class="alert alert-info" ng-if="searchResults.length == 0">
		    		{{ 'palletRemovalPage.noSearchResults' | translate }}
		    	</div>

		    	<table class="table table-striped" ng-if="searchResults.length > 0">
		    		<thead>
		    			<tr>
		    				<th>
		    					{{ 'palletRemovalPage.slotLocation' | translate }}
		    				</th>
		    				<th>
		    					{{ 'palletRemovalPage.productName' | translate }}
		    				</th>
		    				<th>
		    					{{ 'palletRemovalPage.productCount' | translate }}
		    				</th>
		    				<th>
		    					{{ 'palletRemovalPage.dateInserted' | translate }}
		    				</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    			<tr ng-repeat="slot in searchResults" ng-click="selectSlot(slot)" ng-class="{ 'selected-row': slot.selected }">
		    				<td>
		    					{{ slot.location }}
		    				</td>
		    				<td>
		    					{{ slot.pallet.productName }}
		    				</td>
		    				<td>
		    					{{ slot.pallet.productCount }}
		    				</td>
		    				<td>
		    					{{ slot.pallet.dateInserted | formatDate }}
		    				</td>
		    			</tr>
		    		</tbody>
		    	</table>
		  	</div>

		  	<br />

		  	<div class="form-group" ng-if="selectedSlot">
		    	<h3 class="text-center">
		    		{{ 'palletRemovalPage.detailedInformation' | translate }}
		    	</h3>

		    	<br />

		    	<table class="table table-striped">
		    		<thead>
		    		</thead>
		    		<tbody>
		    			<tr>
		    				<th>
		    					{{ 'palletRemovalPage.slotLocation' | translate }}
		    				</th>
		    				<td>
		    					{{ selectedSlot.location }}
		    				</td>
		    			</tr>
		    			<tr>
		    				<th>
		    					{{ 'palletRemovalPage.productName' | translate }}
		    				</th>
		    				<td>
		    					{{ selectedSlot.pallet.productName }}
		    				</td>
		    			</tr>
		    			<tr>
		    				<th>
		    					{{ 'palletRemovalPage.productCount' | translate }}
		    				</th>
		    				<td>
		    					{{ selectedSlot.pallet.productCount }}
		    				</td>
		    			</tr>
		    			<tr>
		    				<th>
		    					{{ 'palletRemovalPage.dateInserted' | translate }}
		    				</th>
		    				<td>
		    					{{ selectedSlot.pallet.dateInserted | formatDate }}
		    				</td>
		    			</tr>
		    			<tr>
		    				<th>
		    					{{ 'palletRemovalPage.notes' | translate }}
		    				</th>
		    				<td>
		    					{{ selectedSlot.pallet.notes }}
		    				</td>
		    			</tr>
		    		</tbody>
		    	</table>
		  	</div>

		  	<br />

		  	<button type="submit" class="btn btn-danger btn-block btn-tall" ng-click="confirmRemoval()">
		  		{{ 'palletRemovalPage.confirmRemoval' | translate }}
		  	</button>
		</form>		
	</div>
</div>

<style>
	.selected-row {
		background-color: #007bff !important;
	}
</style>